div.app {
  display: flex;
}
button.filterShow {
  
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.4s;
  background-color: rgb(137, 240, 111);

}
button.filterShow i {
  font-size: 26px;
  padding: 2px;
}